@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

//------------------Show-Meals---------------------//

.showMeal{
  display: flex;
  flex-direction: column;
  
}

.showMealImg {
  width: 40vw;
  height: auto;
  justify-content: center;
  
}

